﻿<div class="container">
    <footer>
        <div class="row row-cols-4 py-4 my-4 border-top">
            <div class="col">
                <!-- <h5>Guías Útiles</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Preguntas Frecuentes</a></li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-muted">
                            Ayuda y comentarios del
                            producto
                        </a>
                    </li>
                </ul> -->
            </div>
            <div class="col">
                <h5>Sobre Nosotros</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Nuestra historia</a></li>
                    <!-- <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Certificaciones</a></li> -->
                    <li class="nav-item mb-2"><a href="./catalago_categoria.html" class="nav-link p-0 text-muted">Catálogo Digital</a></li>
                </ul>
            </div>
            <div class="col">
                <h5>Enlaces</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-muted">Términos y condiciones</a>
                    </li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Condiciones de uso</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Aviso de Privacidad</a></li>
                </ul>
            </div>
            <div class="col">
                <h5>Contáctanos</h5>
                <div class="d-flex justify-content-between py-1 my-1">
                    <!-- <ul class="list-unstyled d-flex">
                        <li class="ms-3">
                            <a class="link-dark" href="#">
                                <img src="./img/logo facebook.svg"
                                     alt="Logo Facebook" class="footer-bi me-2" width="20" height="20" role="img"
                                     aria-label="Facebook" />
                            </a>
                        </li>
                        <li class="ms-3">
                            <a class="link-dark" href="#">
                                <img src="./img/logo pinterest.svg"
                                     alt="Logo Pinterest" class="footer-bi me-2" width="20" height="20" role="img"
                                     aria-label="Pinterest" />
                            </a>
                        </li>
                        <li class="ms-3">
                            <a class="link-dark" href="#">
                                <img src="./img/logo instagram.svg"
                                     alt="Logo Instagram" class="footer-bi me-2" width="20" height="20" role="img"
                                     aria-label="Instagram" />
                            </a>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>


        <div class="d-flex justify-content-between py-1 my-1">
            <img src="./img/LOGO E ISO.png" alt="Logo Boris Plástica" class="footer-bi me-2" width="160px" height="62px"
                 role="img" aria-label="Boris Plástica" />

            <p class="text-muted">
                Industrias Boris S.A. de C.V. Simao da Veiga No. 320 Col. Plaza de Toros
                C.P. 37450 León Gto. México
            <p class="text-muted">&copy; 2021</p>
            </p>
        </div>
    </footer>
</div>