﻿<div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="./home.html" class="nav-link px-2 text-secondary">Inicio</a></li>
            <li><a href="./catalago_categoria.html" class="nav-link px-2 text-white">Productos</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Nuestra Inspiración</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Contacto</a></li>
        </ul>

        <a href="#" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img src="./img/LOGOBORIS BLANCO.png" alt="Logo Boris Plástica" class="header-bi me-2" width="120px" height="42px" role="img" aria-label="Boris Plástica" />
        </a>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input type="search" class="form-control header-form-control-dark" placeholder="Buscar..." aria-label="Search">
        </form>

        <div class="text-end">
            <!-- <button type="button" class="btn btn-outline-light me-2">Login</button>
            <button type="button" class="btn btn-warning">Iniciar Sesión</button> -->
        </div>
    </div>
</div>