﻿.CarD-Container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    height:10px ;
    display: flex;
   }
   .flex-container {
    width:100%;
    padding:5px;
    margin:10px;
    display: -webkit-flex;
    display:-ms-flexbox;
    display:flex;
    }
.flex-item{
    display:inherit;
    width: 17%;
    margin:15px;
}
.flex-item p{
    width:100%;
    text-align:center;
    -webkit-align-self: center;
    -ms-flex-item-align:center;
    align-self:center;
    margin:0;
}

    .card {
        MAX-height: 100%;
        max-width: 100%;
      
        text-align: center;
        font-family: arial;
        
      }
      
      .title {
        color: grey;
        font-size: 9px;
      }
      
      .colores {
        border: none;
        outline: 0;
        /* display: inline-block; */
        padding: 5px;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 253, 253);
        
      
        width: 100%;
        font-size: 14px;
      }
      h4{
        font-size: 16px;
      }
      h1 {
        text-decoration: none;
        font-size: 16px;
        color: black;
      }
      h2
       {
        
        
        text-align: center;
      }
      .circulo-azul {
        width: 13px;
        height: 13px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background:rgb(0,125,201);
    }
    .circulo-azull{
        width: 13px;
        height: 13px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background:rgb(0,107,186);
    }
    .circulo-verdeaqua{
        width: 13px;
        height: 13px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: rgb(0,197,166);
    }
    .circulo-verde {
        width: 13px;
        height: 13px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: rgb(108,189,14);
    }
    .circulo-rojol {
        width: 13px;
        height: 13px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: rgb(197, 52, 55);
    }
    .circulo-rosa {
        width: 13px;
        height: 13px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: rgb(255, 65, 163);
    }
    .circulo-anaranjado {
        width: 13px;
        height: 13px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: rgb(255, 89, 30);
    }
    .circulo-morado {
        width: 13px;
        height: 13px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: rgb(49, 16, 120);
      
    }
    .circulo-natural {
        width: 13px;
        height: 13px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: rgb(255, 255, 255);
      
    }
    .circulo-natural-rosa {
        width: 13px;
        height: 13px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: rgb(203,136, 169);
      
    }
    .circulo-natural-vaqua {
        width: 13px;
        height: 13px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: rgb(101,185, 196);
      
    }
    .circulo-natural-azul {
        width: 13px;
        height: 13px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: rgb(76,133, 225);
      
    }
    .circulo-natural-negro {
        width: 13px;
        height: 13px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: rgb(106,106, 106);
      
    }
    .circulo-blanco {
        border:black 1px solid;
        width: 13px;
        height: 13px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 100%;
        background: white;
    }
    .circulo-negro {
        width: 13px;
        height: 13px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 100%;
      
        background: black;
    }
    .circulo-rosab {
        width: 13px;
        height: 13px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 100%;
      
        background:rgb(255,176,206);
    }
    .circulo-azulb {
        width: 13px;
        height: 13px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 100%;
      
        background: rgb(93, 215, 227);
    }
    .circulo-moradob {
        width: 13px;
        height: 13px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 100%;
      
        background: rgb(218,171,223);
    }
    .circulo-verdeb {
        width: 13px;
        height: 13px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 100%;
      
        background: rgb(154,204,105);
    }
    .circulo-amarillo {
        width: 13px;
        height: 13px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 100%;
      background: rgb(255,222,31);
    }
    .circulo-anaranjadob {
        width: 13px;
        height: 13px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 100%;
      background: rgb(245,99,27);
    }
    .circulo-verdebb {
        width: 13px;
        height: 13px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 100%;
      background: rgb(164,189,0);
    }
    .circulo-azulbb {
        width: 13px;
        height: 13px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 100%;
      background: rgb(42,141,207);
    }
    .circulo-grey {
        width: 13px;
        height: 13px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 100%;
      background: rgb(100,100,100);
    }
    label
    {
        margin:0 auto;
    }
    .texto-encima{
      position: absolute;
      top: 40%;
      width: 100%;
      text-align: center;
      font-size: 45px;
      color:white;
      
  }
  .texto-encima-text{
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
      font-size: 25px;
      color:white;
  }
  table{
    border: 1px solid gray;
    width: 100%;
    height: 150px;
    top: 200px;
    text-align: center;
  margin: 50px;
  }
  th{
    background-color: gray;
    color: white;
    font-weight: normal;
  }
  p{
    color: black;
  }
a{
  text-decoration: none;
}
