﻿.CarD-Container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    height:10px ;
    display: flex;
   }
   .flex-container {
    width:100%;
    padding:5px;
    margin:10px;
    display: -webkit-flex;
    display:-ms-flexbox;
    display:flex;
    }
.flex-item{
    display:inherit;
    width: 17%;
    margin:15px;
}
.flex-item p{
    width:100%;
    text-align:center;
    -webkit-align-self: center;
    -ms-flex-item-align:center;
    align-self:center;
    margin:0;
}

    .card {
        MAX-height: 100%;
        max-width: 100%;
      
        text-align: center;
        font-family: arial;
        
      }
      
      .title {
        color: grey;
        font-size: 9px;
      }
      
      .colores {
        border: none;
        outline: 0;
        /* display: inline-block; */
        padding: 5px;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 253, 253);
        
      
        width: 100%;
        font-size: 14px;
      }
      h4{
        font-size: 16px;
      }
      h1 {
        text-decoration: none;
        font-size: 16px;
        color: black;
      }
      h2
       {
        
        
        text-align: center;
      }
      .circulo-azul {
        width: 13px;
        height: 13px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: lightskyblue;
    }
    .circulo-verde {
        width: 13px;
        height: 13px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: #5cb85c;
    }
    .circulo-rosa {
        width: 13px;
        height: 13px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: rgb(233, 128, 198);
    }
    .circulo-anaranjado {
        width: 13px;
        height: 13px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: rgb(255, 102, 0);
    }
    .circulo-morado {
        width: 13px;
        height: 13px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: rgb(180, 10, 180);
      
    }
    .circulo-blanco {
        width: 13px;
        height: 13px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: white;
      
    }
    .circulo-amarillo {
        width: 13px;
        height: 13px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: yellow;
      
    }
    .circulo-rojo {
        width: 13px;
        height: 13px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: red;
      
    }
    label
    {
        margin:0 auto;
    }
    .texto-encima{
      position: absolute;
      top: 40%;
      width: 100%;
      text-align: center;
      font-size: 45px;
      color:white;
      
  }
  .texto-encima-text{
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
      font-size: 25px;
      color:white;
  }
  table{
    border: 1px solid gray;
    width: 100%;
    height: 150px;
    top: 200px;
    text-align: center;
  margin: 50px;
  }
  th{
    background-color: gray;
    color: white;
    font-weight: normal;
  }
  p{
    color: black;
  }
a{
  text-decoration: none;
}
