﻿.flex-container {
    width:100%;
    padding:5px;
    margin:10px auto;
    display: -webkit-flex;
    display:-ms-flexbox;
    display:flex;
    }
.flex-item{
    display:inherit;
    width:17%;
    height:150px;
 
    margin:15px;
}
.flex-item p{
    width:100%;
    text-align:center;
    -webkit-align-self: center;
    -ms-flex-item-align:center;
    align-self:center;
    margin:0;
} 
.flex-container.wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.cabecera{
    background-image: url("file:///C:/Users/soporte/source/repos/catalogo/Catalogo_producto/Catalogo_producto/pexels-photo-3850838.png");
    background-attachment: fixed;
    overflow: scroll;
}
.texto-encima{
    position: static;
    
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    color:white;
    font-family: 'Montserrat';
 
}
.texto-encima-text{
    text-align: center;
    color:white;
    font-family: 'Montserrat';
    font-size: 46px
}
.CATALOGO{
   font-family: "Montserrat Light";
    text-align: center;
    font-size: 45px;
    color:rgb(150, 150, 150);
}
.card {
    MAX-height: auto;
    max-width: 100%;
  
    text-align: center;
    font-family: arial;
    
  }
  .CarD-Container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    height:10px ;
    display: flex;
   }
   P{
    color: GRAY;
   }
   .div-completo {
    /* margin:10px auto; */
    /* border-radius:5px; */
    /* border: 1px solid #999; */
    /* padding:13px; */
    width: 100%;
    height: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background: url(../img/COLLECIONES/BANNER\ ESTATICO\ COLECCIONES.jpg);
    background-size: cover;
    background-attachment: fixed;
}
   .banner {
    position: absolute;
    top: 45%;
    margin: 0 auto;
    color: white;
    text-align: center;
   }