﻿.header-form-control-dark {
    color: #fff;
    background-color: var(--bs-white);
    border-color: var(--bs-gray);
}

.header-bi {
    /* vertical-align: -.125em; */
    vertical-align: middle;
    position: absolute;
    left: 47%;
    fill: currentColor;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

    .sticky + .content {
        padding-top: 102px;
    }
