﻿/*Carrusel home*/
.carrusel-home {
    margin-bottom: 1rem;
    z-index: 0;
}

.carrusel-item-home {
    height: 1055px;
}

.carrusel-imagen-home {
    height: 1055px;
}

.carrusel-item-home > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 64rem;
}

.carrusel-caption-home {
    position: absolute;
    top: 30%;
    margin: 0 auto;
    color: white;
}

.lbl-carrusel-home-1 {
    font-family: 'Montserrat';
    font-size: 46px;
}

.lbl-carrusel-home-2 {
    font-size: 40px;
    line-height: 20px;
}

.lbl-carrusel-home-3 {
    font-family: 'Montserrat Black';
    font-size: 60px;
    line-height: 70px;
}

.btn-carrusel-home {
    height: 1020px;
}

.contenedor-categoria .imagen-categoria {
    transition: all 0.2s ease-in-out
}

.contenedor-categoria a:hover .imagen-categoria {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1)
}

.contenedor-categoria {
    float: left;
    width: 50%;
    position: relative
}

    .contenedor-categoria a {
        display: block;
        overflow: hidden
    }

    .contenedor-categoria img {
        display: block;
        margin: 0 auto 0.75em auto
    }

    .contenedor-categoria .imagen-categoria {
        width: 100%;
        height: auto;
        margin-bottom: 0
    }

.lbl-categoria {
    font-size: 80px;
    font-family: 'Freestyle Script';
    text-shadow: black 0.1em 0.1em 0.1em;
}

/* Carousel de productos */
#fila-carrusel-productos-1 {
    height: 400px;
}

#fila-carrusel-productos-2 {
    height: 400px;
}

.contenedor-flecha-carrusel-productos-home {
    width: 5%;
}

.contenedor-carrusel-productos {
    width: 18%;
    height: 300px;
}

.contenedor-img-carrusel-productos {
    width: 100%;
    height: 240px;
}

.flecha-carrusel-productos-home {
    width: 5%;
    height: 300px;
}

#lbl-carrusel-productos-1 {
    font-family: 'Montserrat Light';
    font-size: 38px;
}

#lbl-carrusel-productos-2 {
    font-family: 'Montserrat Light';
    font-size: 16px;
}

#lbl-carrusel-productos-3 {
    font-family: 'Montserrat Light';
    font-size: 16px;
}

#lista-carrusel-productos {
    font-family: 'Montserrat Light';
    font-size: 16px;
    height: 30px;
}

#btn-conoce-productos {
    border-color: black;
    border-style: double;
    font-family: 'Montserrat Light';
}

#lbl-redes-sociales {
    font-family: 'Montserrat Light';
    font-size: 16px;
}

/* Imagen estatica */
.div-completo {
    width: 100%;
    height: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background: url(../img/BANNER\ ESTATICO.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.lbl-carusel-productos-img {
    font-family: 'Montserrat Medium';
}

.circulo {
    width: 13px;
    height: 13px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 5px;
}





/* Pruebas */
.div1 {
    background-color: red;
    width: 20%;
    /* float: left; */
    /* position: relative; */
    /* display: flex; */
    /* background-image: url(../img/PRODUCTOS_EN_TAMAÑOS_\ SOPEROAZUL.jpg); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.div2 {
    background-color: blue;
    width: 20%;
    /* background-image: url(../img/PRODUCTOS_EN_TAMAÑOS_\ SOPEROMODULARAQUA.jpg); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.div3 {
    background-color: purple;
    width: 20%;
    /* background-image: url(../img/PRODUCTOS_EN_TAMAÑOS_\ SOPEROMODULARORJO.jpg); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.div4 {
    background-color: yellow;
    width: 20%;
    /* background-image: url(../img/PRODUCTOS_EN_TAMAÑOS_\ SOPEROMORADO.jpg); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.div5 {
    background-color: aquamarine;
    width: 20%;
    /* background-image: url(../img/PRODUCTOS_EN_TAMAÑOS_\ SOPEROVERDE.jpg); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.row {
    height: 250px;
}

#myCarousel2 {
    height: 250px;
}





/* Imagen en escala de grises */
.div-completo-oscuro {
    /* margin:10px auto; */
    /* border-radius:5px; */
    /* border: 1px solid #999; */
    /* padding:13px; */
    width: 100%;
    height: 600px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background: url(../img/BANNER\ MAPA.jpg);
    background-size: cover;
    filter: grayscale(1);
}

#lbl-completo-oscuro-1 {
    font-size: 40px;
    font-family: 'Montserrat';
    color: white;
    margin-top: 100px;
}

.lbl-completo-oscuro-2 {
    font-size: 18px;
    font-family: 'Montserrat Medium';
    color: white;
}

.btn-div-completo-oscuro {
    border-color: black;
    border-style: double;
    margin: 0 auto;
    font-family: 'Montserrat Light';
}
