﻿/* Imagen banner */
.contenedor-imagen-centrado-nosotros {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#lbl-imagen-centrado-nosotros-1 {
    font-family: 'Montserrat Light';
    font-size: 60px;
}

#lbl-imagen-centrado-nosotros-2 {
    font-family: 'Montserrat Light';
    font-size: 30px;
}

/* Titulo */
#titulo-quienes-somos-nosotros {
    font-family: 'Montserrat Light';
    font-size: 40px;
}

#subtitulo-quienes-somos-nosotros {
    font-family: 'Montserrat Medium';
}

#texto-quienes-somos-nosotros {
    font-family: 'Montserrat Light';
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
}

#contenedor-texto-quienes-somos-nosotros {
    width: 45%;
}

#contenedor-imagen-quienes-somos-nosotros {
    width: 60%;
    text-align: right;
}

#imagen-quienes-somos-nosotros {
    width: 600px;
    height: 750px;
}

/* Lo de abajo */
#contenedor-empresa-nosotros {
    width: 20%;
    /* height: 300px; */
    margin-left: 200px;
}

#contenedor-promesa-nosotros {
    width: 20%;
    /* height: 300px; */
    margin: 0 auto;
}

#contenedor-producto-nosotros {
    width: 20%;
    /* height: 300px; */
    float: right;
    margin-right: 200px;
}

.imagen-nosotros {
    width: 100%;
    /* height: 80%; */
}

.titulo-nosotros {
    font-family: 'Montserrat Light';
    font-size: 36px;
}

.texto-nosotros {
    font-family: 'Montserrat Light';
    font-size: 16px;
}
