

#contenedor {
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    text-align: left;
    position: relative;
    min-width: 768px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

#body-content {
    margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}


.clear {
    width: 100%;
        height: 1px;
        margin-left: auto;
        margin-right: auto;
        background-color: lightgray;
}

.sub-content {
    position: relative;
}

#productdetails-page {
    padding: 0 40px 30px;
    padding-top: 0px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 40px;
    margin: 1em auto 0;
    margin-top: 1em;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    max-width: 1280px;
}

#product-details-sidebar {
    width: 61%;
    float: left;
    position: relative;
    padding-bottom: 50px;
    margin: 5px 40px 0 0;
    margin-top: 5px;
    margin-right: 40px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.product-image-wrapper {
    position: relative;
}

#product-image-holder {
    margin-bottom: 100px;
}

.imgpro {
    width: 378px;
    height: 378px;
}

#product-image::after {
    display: block;
    content: '';
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}
.product--images__main {
    padding: 0 120px 15px;
}

.product--images {
    position: relative;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

.anterior{
    position: absolute;
    top: 40%;
    left: 16.5%;

    color: black;
}
.siguiente{
    position: absolute;
    top: 40%;
    left: 47.5%;

    
}
.btn-cambiar{
padding: 0;
border: none;
background: none;
}

.circulo-azul {
    width: 13px;
    height: 13px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: lightskyblue;
}
.circulo-verde {
    width: 13px;
    height: 13px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5cb85c;
}
.circulo-rosa {
    width: 13px;
    height: 13px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: rgb(233, 128, 198);
}
.circulo-anaranjado {
    width: 13px;
    height: 13px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: rgb(255, 102, 0);
}
.circulo-morado {
    width: 13px;
    height: 13px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: rgb(180, 10, 180);
}